/* * {
  margin: 0;
  padding: 0;
}

html, */
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.n {
  position: absolute;
  width: 200px;
  top: 100px;
  height: 10px;
  background: #000;
}

.n1 {
  top: 200px;
}

.n2 {
  top: 300px;
}

.n3 {
  top: 400px;
}

.n4 {
  top: 500px;
}

#block {
  height: 100px;
  width: 100px;
  position: absolute;
  background: red;
}
